.App {
  animation: gradient 60s infinite alternate;
  background: black;
  background-size: 500% 500%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 10em;
}

.Info {
  display: flex;
}

.OrderNo {
  text-align: center;
  border: 1px solid white;
}

.OrderDetails {
  text-align: left;
  padding-top: 0.2em;
  padding-left: 0.2em;
  border: 1px solid white;
  flex: 80%;
}

.Totals {
  font-size: 0.4em;
  flex: 20%;
  border: 1px solid white;
  padding-top: 0.4em;
  padding-left: 0.5em;
}
