html {
    height: 100%;
}

body {
    background: #000;
    text-align: center;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    font-size: 9vw;
}

.linear-wipe {
    text-align: center;

    background: linear-gradient(to right, #dbdb0f 20%, #cbc9c4 40%, #bfb40f 60%, #dedede 80%);
    background-size: 200% auto;

    color: #0000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 2s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}