.App {
  text-align: center;
  animation: gradient 60s infinite alternate;
  background: linear-gradient(45deg, #BA2C1C, #FBBF15, #5AA55D, #58C2EB, #786099);
  background-size: 500% 500%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999999;
}

.App-logo {
  height: 90px;
  position: absolute;
  top: 1%;
  left: 50%;
}

.App-header {
  /*background-color: #FFFFFF;*/
  height: 100px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

